body{
    margin: 0 auto;
    min-height: 100vh;
}

/* Home page */
.info{
    height: 2.5vh;
    text-align: center;
    background-color: #29354b;
    color: white;
    font-size: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info span img{
    height: 1.5vh;
    margin-right: 5px;
}

.info span{
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.info span:first-child{
    margin-left: 0;
}

nav{
    height: 10vh;
    display: grid;
    grid-template-columns: 27.5% 45% 27.5% ;
}

nav img{
    text-align: center;
    height: 9.5vh;
    margin: auto;
}

nav .links{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

nav .links a{
    text-decoration: none;
    text-align: center;
    color: inherit;
    font-size: 2.5vh;
    margin: 2.25vh 15% 2.25vh 15%;
    padding: 1.25vh 0 1.25vh 0;
}

nav .links a:hover{
    color: white;
    background-color: #29354b;
    border-radius: 100px;
}

nav .account{
    width: 100%;
    margin-left: auto;
    margin-right: 0;
    display: grid;
    grid-template-areas: 
        'a a b'
    ;
}

nav .account p{
    font-size: 2vh;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .account p a{
    text-decoration: none;
    color: inherit;
    padding: 1.25vh;
}

nav .account p a:hover{
    color: white;
    background-color: #29354b;
    border-radius: 100px;
}

nav .account a{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .account a img{
    height: 8vh;
}

.content{
    background-image: url('../img/boat.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 85vh;
    display: grid;
    grid-template-columns: 15% 25% 60%;
}

.content .center{
    display: flex;
    align-items: center;
}

.cta{
    height: 30vh;
    width: 100%;
    background-color: #cebd89;
    color: #29354b;
    border-radius: 2.5vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
}

.cta h1{
    font-size: 3.5vh;
}

.cta p{
    font-size: 2.5vh;
    margin-bottom: 10vh;
}

.cta a{
    text-decoration: none;
    color: inherit;
    font-size: 2.5vh;
    background-color: white;
    padding: 2vh;
    border-radius: 2.5vh;
}

.cta a:hover{
    color: white;
    background-color: #29354b;
}

/* Boat Page */
.boats{
    background-image: url('../img/sea.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
    padding: 5vh 25% 0 25%;
}

.boat{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 20%;
    padding: 1vh;
}

.boat span{
    text-align: center;
}

.boat a{
    text-decoration: none;
    padding: 0.8vh;
    border-radius: 2.5vh;
    color: white;
    background-color: #29354b;
}

.boat a:hover{
    background-color: #cebd89;
}

.boat a img{
    width: 100%;
}

.boat a span{
    margin-top: -10px;
}

.details{
    background-image: url('../img/sea.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
    padding: 5vh 20% 0 20%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.details img{
    width: 100%;
    height: 80%;
}

.details .bookingInfo{
    width: 100%;
    height: 75.1%;
    padding: 5%;
    background-color: white;
    display: grid;
    grid-template-rows: 10% 10% 10% 10% 60%;
}

.details .bookingInfo form input[type=number]{
    display: none;
}

.details .bookingInfo form .calendar{
    width: 100%;
    height: 80%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
}

.details .bookingInfo form .calendar .days{
    width: 100%;
    border-bottom: 1px solid black;
    border-spacing: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details .bookingInfo form input[type=radio]{
    display: none;
}

.details .bookingInfo form label{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    text-align: center;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.details .bookingInfo form input[type=radio]:checked + label{
    background-color: #cebd89;
    color: white;
    opacity: 0.5px;
}

.details .bookingInfo form input[type=submit]{
    width: 60%;
    height: 15%;
    margin-top: 5%;
    margin-left: 20%;
    text-decoration: none;
    padding: 0.8vh;
    border: none;
    border-radius: 2.5vh;
    color: white;
    background-color: #29354b;
}

.details .bookingInfo form input[type=submit]:hover{
    cursor: pointer;
    background-color: #cebd89;
}

footer{
    height: 2.5vh;
    background-color: #29354b;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.25vh;
}